version: '{COMPOSE_VERSION}'
services:
  {SERVICE}:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
        {VOLUMES}
    environment:
        {ENVIRONMENT}
    restart: unless-stopped